$base-color-white: #fff !default;
$base-color-black: #000 !default;

$screen-breakpoint-sm: 576px !default;
$screen-breakpoint-md: 768px !default;
$screen-breakpoint-lg: 992px !default;
$screen-breakpoint-xl: 1200px !default;
$screen-breakpoint-xxl: 1400px !default;
