$var-fg:               --vue-dialog-fg;
$var-bg:               --vue-dialog-bg;
$var-border-color:     --vue-dialog-border-color;
$var-box-shadow-color: --vue-dialog-box-shadow-color;
$var-header-bg:        --vue-dialog-header-bg;
$var-closer-fg:        --vue-dialog-closer-fg;
$var-closer-hover-fg:  --vue-dialog-closer-hover-fg;
$var-backdrop-bg:      --vue-dialog-backdrop-bg;

$dialog-zindex: 51 !default;
$backdrop-zindex: 50 !default;

$border-width: 1px !default;
$border-style: solid !default;
$border-radius: 3px !default;

@mixin theme($type: 'light') {
  @if($type == 'light') {
    @content;

    html.theme-light,
    html[data-theme='light'] {
      @content;
    }

  } @else if($type == 'dark') {
    @media (prefers-color-scheme: dark) {
      @content;
    }

    html.theme-dark,
    html[data-theme='dark'] {
      @content;
    }

  } @else if($type == 'contrast') {
    @media (prefers-contrast: more) {
      @content;
    }

    html.contrast-more,
    html[data-contrast='more'] {
      @content;
    }

  } @else if($type == 'contrast dark') {
    @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
      @content;
    }

    html.theme-dark.contrast-more,
    html[data-theme='dark'][data-contrast='more'] {
      @content;
    }

  } @else {
    @error 'Unkown type "#{$type}".';
  }
}

@include theme() {
  :root {
    color-scheme: light;
    #{$var-fg}:               #24292f;
    #{$var-bg}:               #ffffff;
    #{$var-border-color}:     #e1e4e8;
    #{$var-box-shadow-color}: rgba(140, 149, 159, 0.2);
    #{$var-header-bg}:        #f6f8fa;
    #{$var-closer-fg}:        #586069;
    #{$var-closer-hover-fg}:  #0969da;
    #{$var-backdrop-bg}:      rgba(0, 0, 0, 0.7);
  }
}

@include theme('dark') {
  :root {
    color-scheme: dark;
    #{$var-fg}:               #adbac7;
    #{$var-bg}:               #22272e;
    #{$var-border-color}:     #444c56;
    #{$var-box-shadow-color}: #1c2128;
    #{$var-header-bg}:        #2d333b;
    #{$var-closer-fg}:        #768390;
    #{$var-closer-hover-fg}:  #539bf5;
    #{$var-backdrop-bg}:      rgba(0, 0, 0, 0.2);
  }
}

@include theme('contrast') {
  :root {
    color-scheme: light;
    #{$var-fg}:               #24292f;
    #{$var-bg}:               #ffffff;
    #{$var-border-color}:     #24292f;
    #{$var-header-bg}:        #ffffff;
    #{$var-closer-fg}:        #24292f;
    #{$var-closer-hover-fg}:  #0000ff;
  }
}

@include theme('contrast dark') {
  :root {
    color-scheme: dark;
    #{$var-fg}:               #ffffff;
    #{$var-bg}:               #24292f;
    #{$var-border-color}:     #e1e4e8;
    #{$var-header-bg}:        #24292f;
    #{$var-closer-fg}:        #ffffff;
    #{$var-closer-hover-fg}:  #0000ff;
  }
}

// Vue transition
.vue-dialog {
  &-enter-active {
    transition: opacity 0.15s ease-in;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.vue-dialog-backdrop {
  position: fixed;
  z-index: $backdrop-zindex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var($var-backdrop-bg);
}

.vue-dialog {
  position: absolute;
  z-index: $dialog-zindex;
  top: 15vh;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90vw;
  max-height: 80vh;
  border: $border-width $border-style var($var-border-color);
  border-radius: $border-radius;
  color: var($var-fg);
  background-color: var($var-bg);
  box-shadow: 0 3px 6px var($var-box-shadow-color);

  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: $border-width $border-style var($var-border-color);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: var($var-header-bg);

    .title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 600;
    }

    .subtitle {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 400;
      opacity: 0.75;
    }

    .closer {
      margin: -16px -16px -16px 0;
      padding: 16px;
      border: none;
      color: var($var-closer-fg);
      background-color: transparent;
      line-height: 1;
      cursor: pointer;

      &:hover {
        color: var($var-closer-hover-fg);
      }

      svg {
        vertical-align: middle;
      }
    }
  }

  .dialog-body {
    padding: 16px;
    overflow-y: auto;

    &:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: end;
    padding: 16px;
    border-top: $border-width $border-style var($var-border-color);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

@include theme('contrast') {
  .vue-dialog { box-shadow: none; }
}

@include theme('contrast dark') {
  .vue-dialog { box-shadow: none; }
}
